{{ define "title" }}Trending Tags{{ end }}
{{ define "trendingTagsTemplate" }}

<style>
    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slideIn {
        0% {
            opacity: 0;
            transform: translateX(-20px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .animate-fade-in {
        animation: fadeIn 1s ease-out;
    }

    .animate-slide-in {
        animation: slideIn 0.5s ease-out forwards;
        opacity: 0; 
    }

    tbody tr:nth-child(1) {
        animation-delay: 0.1s;
    }
    tbody tr:nth-child(2) {
        animation-delay: 0.2s;
    }
    tbody tr:nth-child(3) {
        animation-delay: 0.3s;
    }
    
</style>

<section class="py-16 bg-black min-h-8-vh">
    <div class="max-w-screen-xl mx-auto px-4">
        <h2 class="text-white text-4xl font-bold text-center mb-8 animate-fade-in">Trending Tags</h2>

        <div class="overflow-hidden rounded-lg shadow-lg">
            <div class="overflow-x-auto">
                <table class="w-full table-auto bg-gradient-to-b from-gray-900 to-gray-800">
                    <thead>
                        <tr class="border-b border-gray-700 animate-fade-in">
                            <th class="py-4 px-6 text-left text-lg font-medium text-gray-300">Tag</th>
                            <th class="py-4 px-6 text-left text-lg font-medium text-gray-300">Usage Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .data.TrendingTags }}
                        <tr class="hover:bg-gray-800 transition-colors duration-300 animate-slide-in"
                            style="animation-delay: 0.1s;">
                            <td class="py-4 px-6">
                                <span class="font-semibold text-blue-400">#{{ .Tag }}</span>
                            </td>
                            <td class=" py-4 px-6 text-sm font-medium text-gray-400">
                                {{ .Usage_count }}
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>

{{ end }}