.player-container {
    position: relative;
    width: 640px;
    height: 360px;
    transition: width 0.3s, height 0.3s;
}

.player-container.fullscreen {
    width: 100vw;
    height: 100vh;
}

.play-button:hover {
    background: gray;
}

.play-button {
    background: white;
    color: black;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.3s;
}


.custom-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0 0 12px 12px;
}

.control-btn {
    background: none;
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 4px 8px;
    transition: color 0.3s;
}

.control-btn:hover {
    color: lightgray;
}

.resolution-dropdown-container {
    display: flex;
    margin-right: 8px;
}

.resolution-dropdown {
    background: transparent;
    color: white;
    border: none;
    font-size: 1rem;
    appearance: none;
    cursor: pointer;
}

.resolution-dropdown option {
    background-color: #333;
    color: white;
}

.fullscreen-btn {
    cursor: pointer;
}