{{define "title"}} Index {{end}}
{{ define "contentIndex" }}
    <div class="relative flex min-h-screen flex-col bg-black">
        <div class="min-h-28">
            <div class="gap-6 mt-8 mx-4 md:flex">
                {{ range .data.Videos }}
                   
                <div class="md:w-1/2">
                    <div class="wrap-video">
                        <a href="/video/?videoUUID={{ .UUID }}">
                            <video class="object-cover h-96 w-full bg-black" loop="">
                                <source
                                    src="../../.{{ .OriginalVideoPath }}"
                                    type="video/mp4">
                            </video>
                        </a>
                    </div>
                    <span class="pt-4 grid grid-cols-6 gap-4">
                        <span class="col-start-1 col-end-3 font-bold text-lg text-white uppercase font-mono">
                            {{ .Name }}
                        </span>
                        <span class="col-end-7 col-span-2 text-sm text-slate-500 uppercase font-mono flex justify-end">
                            <span class="">
                                music video
                            </span>
                        </span>
                    </span>
                    <span class="block text-white text-xs uppercase font-mono">
                        {{ .User.Name }}
                    </span>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    <script src="../../static/js/index.js"></script>
 
{{ end }}